/* Body */

.container{
    background:rgba(255,255,255,0.8);
    border-radius: 25px;
    border: 2px solid dodgerblue;
    padding-bottom: 1em;
}

body {
    background-image: url("../images/background.png");
    background-repeat: repeat;
}

/*Testing a new scrollbar style  
#f6d365 0%, #fda085 100% might look nicer?*/

body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
         
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
}
         
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, orange 0%, yellow 100%);
    background-image: linear-gradient(120deg, orange 0%, yellow 100%);
}


h1 {}

/* Header - Nav */

.nav {
    background-color: dodgerblue;
}

#wizard {
    float: left;
    height: 90px;
    width: 90px;
}

#logo {
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, orange 0%, yellow 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home-search {
    margin-top: 1.5em;
    float: right;
    color: rgb(252, 236, 11);
}

/* Header - Carousel */

.carousel {
    padding-top: 1em;
    margin-top: 2em;
}

#carousel-ad {}

img.image-carousel-ad {
    height: 380px;
    width: 100%;
}

#game-form {
    padding-top: 1em;
    margin-top: 2em;

}

/* Content - Trending */

#trending-container {}

.card {
    padding-top: 1em;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    height: 12em;
  
}

/*results*/
#result {
    padding-top: 1em;
    margin-top: 2em;
    width: 100%;

}
#result-main-title {
  margin-right: 5em;
 
}

#result-main-image{
    max-height: 100%;
    max-width: 100%;
}


#result-main-deck{
    

}

.clearfix {
    overflow: auto;
  }


/* Footer */

#footer {
    color: black;
    text-align: center;
    bottom: 0;
    height: 2em;
    width: 100%;
}

h6 {}

