/* Body */
h1 {

}

/* Header - Nav */
.search-button {
    float:right;
}

/* Header - Carousel */
.carousel {
    margin-top: 1em;
}

#carousel-ad {

}

img.image-carousel-ad {

}

/* Content - Trending */
.card {
    overflow: hidden;
    display: inline-block;
    text-align: center;
    height: 15em;
}

/* Footer */
footer {

}

h6 {
    
}